@{
    ViewBag.Title = "Check2";
}

<h2>Sorry, the Username and Password combination you entered is incorrect. Please try again.</h2>
<META HTTP-EQUIV="Refresh" CONTENT="5;URL=@(Url.Action("UserSignIn", "Domain"))">
