@{
    ViewBag.Title = "SubscribedDiscussions";
}

<h2>SubscribedDiscussions</h2>
<div style="text-align:center"><h2>@ViewBag.Title</h2></div>
<hr />
<div style="float:left;"><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/211216_216140191748994_3229202_q.jpg" /></div>
<a>This is a Test Discussion  Topic "Links to Entire Discussion"</a><br />
<em>Last Post By: <a>Cavman</a></em>, <script type="text/javascript">                                document.write(Date());</script>
Number of Posts: <a>Number</a><br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
<hr />
<div style="float:left;"><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/211216_216140191748994_3229202_q.jpg" /></div>
<a>This is a Test Discussion  Topic "Links to Entire Discussion"</a><br />
<em>Last Post By: <a>Cavman</a></em>, <script type="text/javascript">                                          document.write(Date());</script>
Number of Posts: <a>Number</a><br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
<hr />
<div style="float:left;"><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/211216_216140191748994_3229202_q.jpg" /></div>
<a>This is a Test Discussion  Topic "Links to Entire Discussion"</a><br />
<em>Last Post By: <a>Cavman</a></em>, <script type="text/javascript">                                          document.write(Date());</script>
Number of Posts: <a>Number</a><br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
<hr />
<div style="float:left;"><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc6/211216_216140191748994_3229202_q.jpg" /></div>
<a>This is a Test Discussion Post</a><br />
<em>By: <a>Cavman</a></em>, <script type="text/javascript">                                document.write(Date());</script><br />
Posted in: <a>Topic Name</a><br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor...
<hr />
